<form flex layout="column" ng-submit="save()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button type="button" class="md-icon-button" aria-label="Close" ui-back>
				<md-icon md-font-icon="mi mi-24 mi-close"></md-icon>
			</md-button>
			<h2><span ng-if="isNew">New chart</span>
				<span ng-if="!isNew">Edit {{ chart.title }}</span></h2>
			<span flex></span>
			<md-button type="submit">Save</md-button>
		</div>
	</md-toolbar>

	<md-content flex layout-padding layout="column">
		<div flex>
			<!-- <md-input-container>
				<label>Title</label>
				<input type="text" ng-model="chart.title" required>
			</md-input-container>

			<md-input-container>
				<label>Description</label>
				<textarea ng-model="chart.description" columns="1"></textarea>
			</md-input-container> -->

				<!-- preset (if new) -->
				<!-- <md-divider></md-divider> -->

			<md-input-container>
				<label>Type</label>
				<md-select ng-model="chart.type">
					<md-option value="line">Line</md-option>
					<md-option value="bar">Bar</md-option>
					<md-option value="pie">Pie</md-option>
				</md-select>
			</md-input-container>

			<!-- chart options -->

			<md-subheader>Columns</md-subheader>

			<md-list>
				<md-list-item ng-repeat="column in traq.columns">
					<md-checkbox aria-label="Show" ng-model="chart.columns[column.id].show"></md-checkbox>
					<p>{{ column.name }}</p>

					<md-menu>
						<md-button type="button" aria-label="Choose axis" ng-click="$mdOpenMenu($event)" ng-disabled="!chart.columns[column.id].show" class="md-icon-button">
							<span ng-if="chart.columns[column.id].axis === 'left'">Left</span>
							<span ng-if="chart.columns[column.id].axis === 'right'">Right</span>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item value="{{ color.hex }}">
								<md-button type="button" ng-click="chart.columns[column.id].axis = 'left'">Left axis</md-button>
							</md-menu-item>
							<md-menu-item value="{{ color.hex }}">
								<md-button type="button" ng-click="chart.columns[column.id].axis = 'right'">Right axis</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>

					<md-menu>
						<md-button type="button" aria-label="Choose color" ng-click="$mdOpenMenu($event)" ng-disabled="!chart.columns[column.id].show" class="md-icon-button">
							<md-icon md-menu-align-target md-font-icon="mi mi-24 mi-lens" ng-style="{ color: chart.columns[column.id].show && chart.columns[column.id].color }"></md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item ng-repeat="color in colors" value="{{ color.hex }}">
								<md-button type="button" ng-click="chart.columns[column.id].color = color.hex">
									<md-icon md-font-icon="mi mi-24 mi-lens" style="color: {{color.hex}}"></md-icon>
									&nbsp; {{ color.name }}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-list-item>
			</md-list>

			<md-subheader>Options</md-subheader>

			<md-checkbox ng-model="chart.plotZeros">Plot 0's</md-checkbox>
			
		</div>
		
		<md-button type="button" ng-if="!isNew" class="md-raised md-warn">Delete</md-button>

	</md-content>
</form>