<div layout="row" flex>
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<md-list>
			<md-list-item ng-click="go('home')">
				<md-icon md-font-icon="mi mi-24 mi-home"></md-icon> 
				<p>Home</p>
			</md-list-item>
			<md-divider></md-divider>
			<md-subheader>Tables</md-subheader>
			<md-list-item ng-click="go('table-view', { tid: table._id })" ng-repeat="table in tables">
				<md-icon md-font-icon="mi mi-24 mi-grid-on"></md-icon> 
				<p>{{ table.title }}</p>
			</md-list-item>
			<md-list-item ng-click="go('table-edit', { tid: 'new' })">
				<md-icon md-font-icon="mi mi-24 mi-add"></md-icon> 
				<p>Create table</p>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item ng-click="go('import')">
				<md-icon md-font-icon="mi mi-24 mi-file-upload"></md-icon> 
				<p>Import</p>
			</md-list-item>
			<md-list-item ng-click="go('export')">
				<md-icon md-font-icon="mi mi-24 mi-file-download"></md-icon> 
				<p>Export</p>
			</md-list-item>
			<md-list-item ng-click="go('settings')">
				<md-icon md-font-icon="mi mi-24 mi-settings"></md-icon> 
				<p>Settings</p>
			</md-list-item>
			<md-list-item ng-click="go('feedback')">
				<md-icon md-font-icon="mi mi-24 mi-feedback"></md-icon> 
				<p>Feedback</p>
			</md-list-item>
		</md-list>
	</md-sidenav>
	<md-content layout="column" flex ui-view></md-content>
</div>