<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button type="button" class="md-icon-button" aria-label="Close" ui-back>
			<md-icon md-font-icon="mi mi-24 mi-close"></md-icon>
		</md-button>
		<h2>Data</h2>
		<span flex></span>
		<md-button type="button" class="md-icon-button" aria-label="Date" ng-if="data.selectMode" ng-click="delete()">
			<md-icon md-font-icon="mi mi-24 mi-delete"></md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-content class="data-view" flex layout="column">
	<md-virtual-repeat-container class="data-container" ng-style="{ height: windowHeight - 56 + 'px' }">
		<md-list>
			<md-list-item class="measurement md-2-line" md-virtual-repeat="measurement in measurements" md-on-demand ui-sref="measurement-edit({ mid: measurement._id })" flex>
				<md-icon md-font-icon="mi mi-24 mi-{{ measurement.column.icon }} circle-icon" ng-style="{ color: measurement.column.color }" ng-if="!data.selectMode" ng-click="data.selected[measurement._id] = true" stop-propagation></md-icon>
				<md-checkbox ng-if="data.selectMode" ng-model="data.selected[measurement._id]" aria-label="Select" stop-propagation></md-checkbox>
				<div class="md-list-item-text">
					<h3>{{ measurement.column.name }}: {{ measurement.value }} {{ measurement.column.unit }}</h3>
					<p>{{ measurement.date }}</p>
					<!-- <p ng-if="measurement.note">{{ measurement.note }}</p> -->
				</div>
			</md-list-item>
		</md-list>
	</md-virtual-repeat-container>
</md-content>
