<form flex layout="column" ng-submit="save()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Close" ui-back>
				<md-icon md-font-icon="mi mi-24 mi-close"></md-icon>
			</md-button>
			<h2>New row</h2>
			<span flex></span>
			<md-button class="md-icon-button">Save</md-button>
		</div>
	</md-toolbar>

	<md-content flex layout-padding layout="column">
		<div flex>

			<div layout="row">
				<md-input-container flex>
					<label>Date</label>
					<input type="date" ng-model="row.date" required>
				</md-input-container>

				<md-input-container flex>
					<label>Time</label>
					<input type="time" ng-model="row.date" required>
				</md-input-container>
			</div>
			
			<md-input-container ng-repeat="column in table.columns">
				<label>{{ column.name }} ({{ column.unit }})</label>
				<input type="number" ng-model="row[column.id]">
			</md-input-container>

			<md-input-container>
				<label>Note</label>
				<textarea ng-model="row.note"></textarea>
			</md-input-container>

		</div>

		<md-button class="md-raised md-warn">Delete</md-button>

	</md-content>
</form>