<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button type="button" class="md-icon-button" aria-label="{{ 'CLOSE' | translate }}" ui-back>
			<md-icon md-font-icon="mi mi-24 mi-close"></md-icon>
		</md-button>
		<h2>{{ 'SETTINGS' | translate }}</h2>
	</div>
</md-toolbar>

<md-content>
	<md-list>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>{{ 'SETTING_DROPBOX' | translate }}</h3>
				<p>{{ 'SETTING_DROPBOX_DESCRIPTION' | translate }}</p>
			</div>
			<md-switch class="md-secondary" ng-model="settings.enableDropbox"></md-switch>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>{{ 'SETTING_STATISTICS' | translate }}</h3>
				<p>{{ 'SETTING_STATISTICS_DESCRIPTION' | translate }}</p>
			</div>
			<md-switch class="md-secondary" ng-model="settings.enableStats"></md-switch>
		</md-list-item>
		<md-list-item>
			<md-icon md-font-icon="mi mi-24 mi-language"></md-icon>
			<p>{{ 'LANGUAGE' | translate }}</p>
			<md-select ng-model="settings.language" aria-label="{{ 'LANGUAGE' | translate }}">
				<md-option value="en">{{ 'ENGLISH' | translate }}</md-option>
				<md-option value="es">{{ 'SPANISH' | translate }}</md-option>
			</md-select>
		</md-list-item>
		
		<md-subheader>{{ 'SETTING_UNITS' | translate }}</md-subheader>
		<md-list-item ng-repeat="column in columns">
			<md-icon md-font-icon="mi mi-24 mi-{{ column.icon }} circle-icon" ng-style="{ color: column.color }"></md-icon>
			<p>{{ column.name }}</p>
			<md-select ng-model="column.unit" ng-disabled="column.units.length < 2" aria-label="Unit">
				<md-option ng-repeat="unit in column.units" value="{{ unit.value }}">{{ unit.title }}</md-option>
			</md-select>
		</md-list-item>

		<md-subheader>Debug</md-subheader>
		<md-list-item class="md-2-line" ng-click="wipeConfig()">
			<div class="md-list-item-text">
				<h3>Delete all config</h3>
				<p>{{ configCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeTraqs()">
			<div class="md-list-item-text">
				<h3>Delete all traqs</h3>
				<p>{{ traqCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeColumns()">
			<div class="md-list-item-text">
				<h3>Delete all columns</h3>
				<p>{{ columnCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeMeasurements()">
			<div class="md-list-item-text">
				<h3>Delete all measurements</h3>
				<p>{{ measurementCount }} documents</p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
