<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button type="button" class="md-icon-button" aria-label="Close" ui-back>
			<md-icon md-font-icon="mi mi-24 mi-close"></md-icon>
		</md-button>
		<h2>Settings</h2>
	</div>
</md-toolbar>

<md-content>
	<md-list>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Sync to Dropbox</h3>
				<p>Enable this to backup your data to Dropbox.</p>
			</div>
			<md-switch class="md-secondary" ng-model="settings.enableDropbox"></md-switch>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Send statistics</h3>
				<p>Enable this to send anonymous data about how you use the app to help improve Traq.</p>
			</div>
			<md-switch class="md-secondary" ng-model="settings.enableStats"></md-switch>
		</md-list-item>
		
		<md-subheader>Units</md-subheader>
		<md-list-item ng-repeat="column in columns">
			<md-icon md-font-icon="mi mi-24 mi-{{ column.icon }} circle-icon" ng-style="{ color: column.color }"></md-icon>
			<p>{{ column.name }}</p>
			<md-select ng-model="column.unit" ng-disabled="column.units.length < 2" aria-label="Unit">
				<md-option ng-repeat="unit in column.units" value="{{ unit.value }}">{{ unit.title }}</md-option>
			</md-select>
		</md-list-item>

		<md-subheader>Debug</md-subheader>
		<md-list-item class="md-2-line" ng-click="wipeConfig()">
			<div class="md-list-item-text">
				<h3>Delete all config</h3>
				<p>{{ configCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeTraqs()">
			<div class="md-list-item-text">
				<h3>Delete all traqs</h3>
				<p>{{ traqCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeColumns()">
			<div class="md-list-item-text">
				<h3>Delete all columns</h3>
				<p>{{ columnCount }} documents</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-click="wipeMeasurements()">
			<div class="md-list-item-text">
				<h3>Delete all measurements</h3>
				<p>{{ measurementCount }} documents</p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
