<table>
	<thead>
		<tr>
			<th class="check"><md-checkbox ng-model="selectAll" aria-label="Select all"></md-checkbox></th>
			<th>Date/Time</th>
			<th ng-repeat="column in table.columns" class="numeric">{{ column.name }}</th>
			<th class="control"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows | startFrom: start | limitTo: limit" ng-class="{ selected: rowsSelected[row._id] }">
			<td class="check"><md-checkbox ng-model="rowsSelected[row._id]" aria-label="Select"></md-checkbox></td>
			<td>{{ row.date | date:dateFormat }}</td>
			<td ng-repeat="column in table.columns" class="numeric">{{ row[column.id] | number }}</td>
			<td class="control">
				<md-button class="md-icon-button" aria-label="Edit" ui-sref="row-edit({ tid: table._id, rid: row._id })">
					<md-icon md-font-icon="mi mi-24 mi-edit"></md-icon>
				</md-button>
			</td>
			<!-- note? -->
		</tr>
	</tbody>
</table>

<md-toolbar layout="row" class="toolbar-pages">
	<div class="md-toolbar-tools">
		<div flex></div>
		<div>{{ start }}-{{ start + limit }}</div>

		<md-button class="md-icon-button" aria-label="Previous page" ng-disabled="start === 0" ng-click="start = start - limit">
			<md-icon md-font-icon="mi mi-24 mi-chevron-left"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Next page" ng-click="start = start + limit">
			<md-icon md-font-icon="mi mi-24 mi-chevron-right"></md-icon>
		</md-button>
	</div>
</div>