<div class="traq" flex layout="column">
	<div class="span-select" ng-if="!fullscreen">
		<a class="link" flex="initial" href="" ng-repeat="(spanId,_span) in spans" fastclick ng-click="o.span = spanId" ng-class="{ active: o.span === spanId }">{{ spanId }}</a>
	</div>

	<md-button ng-if="!fullscreen" class="fullscreen md-icon-button" aria-label="{{ 'FULLSCREEN' | translate }}" ui-sref="chart-view({ tid: traq._id })"><md-icon md-font-icon="mi mi-24 mi-fullscreen"></md-icon></md-button>

	<div ng-if="measurementCount === 0" class="no-chart" flex="auto">{{ 'MEASUREMENTS_NONE' | translate }}</div>
	<chart ng-if="measurementCount > 0" traq="traq" chart="traq.charts[0]" data="data" span="o.span" no-fastclick flex="auto"></chart>

	<div ng-if="!fullscreen && measurementCount > 0" layout="row" class="dark-bg">
		<insight insight="insight" data="data" traq="traq" class="fact" ng-repeat="insight in insights" flex="33">
		</insight>
	</div>
</div>