@import 'node_modules/angular-material/angular-material';

$roboto-font-path: 'fonts';
@import 'node_modules/roboto-fontface/css/roboto-fontface';

$material-design-icons-font-path: 'fonts/';
@import 'node_modules/material-design-icons-iconfont/dist/material-design-icons';
@import 'node_modules/material-icons/css/material-icons';

html {
	-webkit-user-select: none;
}

md-toolbar:not(.md-menu-toolbar) {
	color: hsl(0, 0, 23%);
	min-height: 56px !important;
	md-icon { color: hsl(0, 0, 23%); }
	.md-toolbar-tools {
		height: 56px !important;
		max-height: 56px !important;
	}
}

md-tab-item { color: inherit !important; }

.mi { top: -1px; }

md-optgroup {
	label {
		text-transform: inherit;
		font-weight: inherit;
	}
	md-option {
		padding-left: 16px;
		md-icon { margin-right: 16px; }
	}
}

.md-subhead {
	font-weight: 400;
}
.md-display-1 {
	font-weight: 100;
}

body {
	font-weight: 300;
	overflow: hidden;
}

body, md-content.md-default-theme, md-content { background: #303030; }

md-menu-content {
	background-color: white;
	md-menu-divider { background-color: #eee; }
}


.home {
	position: static;
	overflow: hidden;
	width: 100%;
	height: 100%;
	traq {
		-webkit-backface-visibility: hidden; // speeds things up a lit - doen't render things offscreen (?)
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		overflow: hidden;
		&.snap { transition: transform 0.3s ease-out; }
		.menu-row {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 60px;
			z-index: 5;
		}
	}	
}

.welcome {
	text-align: center;
	padding: 40px;
	img {
		margin: 40px auto 50px;
	}
	.md-button {
		margin: 0 0 40px 0;
		padding: 6px;
	}
}

md-list-item.active {
	border-left-width: 4px;
	border-left-style: solid;
}

md-list-item:not(.active) {
	margin-left: 4px;
}
md-list md-list-item md-icon {
	color: inherit;
}
md-list {
	padding: 0;
}

svg {
	.gridline {
		stroke: hsl(0, 0, 24%);
		shape-rendering: crispEdges;
	}

	.x.axis path, .x.axis .tick line,
	.y.axis path, .y.axis .tick line {
		display: none;
	}

	.point {
		fill: #444;
		stroke-width: 2px;
	}

	.line {
		fill: none;
		stroke-width: 2px;
		&.forecast {
			stroke-dasharray: 1, 2;
		}
	}
	.area {
		stroke: none;
		opacity: 0.15;
	}

	text {
		fill: hsl(0, 0, 66%);
		font-size: 11px;
	}
}

.fixed { position: fixed; }
.pad-toolbar { padding-top: 56px; }
.upgrade-icon {
	color: rgba(255, 255, 255, 0.3);
	font-size: 13px;
}

.dark-bg {
	background: #222;
}

.fact {
	text-align: center;
	padding: 20px 4px;
	height: 80px;
	.title {
		font-size: 11px;
		text-transform: uppercase;
		display: block;
	}
	.value {
		font-size: 24px;
		font-weight: 100;
		display: block;
	}
	.mi {
	    top: 3px;
	    color: #aaa;
	}
	.unit {
		font-size: 14px;
	}
}

.btn-bottom {
	margin: 0;
	padding: 10px;
	border-radius: 0;
	box-shadow: none;
}

svg {
	position: absolute;
}

.span-select {
	text-align: center;
	a {
		display: inline-block;
		width: 26px;
		text-align: center;
		color: #888;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		&.active {
			color: #eee;
			text-decoration: underline;
		}
	}
}

md-input-container label {
	text-shadow: none;
}

md-select {
	font-size: 16px;
	font-weight: normal;
	.md-select-value {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	&:not([disabled]):focus .md-select-value {
		padding-bottom: 3px;
	}
}
md-select-menu {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 
				0px 1px 1px 0px rgba(0, 0, 0, 0.44), 
				0px 2px 1px -1px rgba(0, 0, 0, 0.32);
}

.md-list-item-text p {
	font-weight: normal !important;
}

.circle-icon {
	background-color: currentColor;
    border-radius: 50%;
    width: 28px !important;
    height: 28px !important;
    text-align: center;
    line-height: 28px !important;
    font-size: 18px;
    margin-right: 28px;
    &::before {
    	color: #303030;
    }
}

md-input-container .md-input {
	text-shadow: none;
}

[ui-view] {
	overflow: hidden;
	&.ng-enter, &.ng-leave {	
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
	}
	.animate-up & {
		transition: transform .3s ease-out, opacity .3s ease-in-out;
		&.ng-leave { z-index: 0; }
		&.ng-enter, &:nth-child(1) { z-index: 1; }
		&.ng-enter {
			opacity: 0;
			transform: translateY(100px);
		}
		&.ng-enter-active, &.ng-leave, &.ng-leave-active {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.animate-down & {
		transition: transform .3s ease-in, opacity .3s ease-in-out;
		&.ng-leave { z-index: 1; }
		&.ng-enter { z-index: 0; }
		&.ng-leave, &.ng-enter, &.ng-leave-enter {
			opacity: 1;
			transform: translateY(0);
		}
		&.ng-leave-active {
			opacity: 0;
			transform: translateY(100px);
		}
	}
	
}

.data-view {
	overflow: hidden;
	.data-container {
		min-height: 100px;
		position: absolute;
		top: 0; left: 0; right: 0;
		.measurement {
			height: 72px;
			overflow: hidden;
			transition: opacity 0.3s ease-out;
			opacity: 1;
			&.hided { opacity: 0; }
		}
	}
}

.md-subheader {
	margin-right: 0;
}

.md-open-menu-container.md-active { // angular material default animation is slow and ugly
	transition: opacity 0.15s ease-in-out;
}
