<!doctype html>
<html lang="en" ng-app="traq">
<head>
	<title>Traq</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="main.css" rel="stylesheet">
</head>

<body layout="column" ng-controller="AppCtrl">
	<md-content layout="column" flex ui-view></md-content>
	<md-toast ng-if="snack.message">
		<span flex>Hello</span>
		<md-button type="button" ng-if="snack.buttonText" ng-click="snack.buttonFn()">{{ snack.buttonText }}</md-button>
	</md-toast>

	<script type="text/javascript" src="vendor.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="templates.js"></script>
</body>
</html>