@import 'node_modules/angular-material/angular-material';

$roboto-font-path: 'fonts';
@import 'node_modules/roboto-fontface/css/roboto-fontface';

$material-design-icons-font-path: 'fonts/';
@import 'node_modules/material-design-icons-iconfont/dist/material-design-icons';
@import 'node_modules/material-icons/css/material-icons';

md-toolbar {
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	&.toolbar-gray {
		background: #f0f0f0;
		color: #555;
		md-icon { color: #555; }
	}
}

.mi { top: -1px; }

table {
	border-spacing: 0;
	width: 100%;
	thead {
		tr {
			th {
				font-size: 12px;
				font-weight: 500;
				color: hsl(0, 0, 46%);
				height: 56px;
				border-bottom: 2px solid #eee;
				text-align: left;
			}
		}
	}
	tbody {
		font-size: 13px;
		tr {
			border-bottom: 1px solid #eee;
			&:hover { background: #eee; }
			&.selected { background: #f5f5f5; }
			td {
				height: 48px;
				font-size: 13px;
				color: hsl(0, 0, 13%);
				min-width: 76px;
			}
		}
	}
	.numeric { text-align: right !important; }
	.check {
		padding-left: 10px;
		max-width: 40px;
	}
	.control {
		padding-right: 10px;
		max-width: 40px;
	}
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis .tick line,
.y.axis path, .y.axis .tick line {
  display: none;
}

.point {
	stroke: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  stroke-width: 3px;
}

text { fill: hsl(0, 0, 46%); }